# {{ ansible_managed }}
SECRET_KEY = '{{ graphite_secret_key }}'
ALLOWED_HOSTS = {{ graphite_allowed_hosts | list }}
TIME_ZONE = '{{ graphite_time_zone }}'
DATE_FORMAT = '{{ graphite_date_format }}'
DOCUMENTATION_URL = '{{ graphite_documentation_url }}'
LOG_ROTATION = {{ graphite_log_rotation }}
LOG_ROTATION_COUNT = {{ graphite_log_rotation_count }}
LOG_RENDERING_PERFORMANCE = {{ graphite_log_rendering_performance }}
LOG_CACHE_PERFORMANCE = {{ graphite_log_cache_performance }}
LOG_FILE_INFO = '{{ graphite_log_file_info }}'
LOG_FILE_EXCEPTION = '{{ graphite_log_file_exception }}'
LOG_FILE_CACHE = '{{ graphite_log_file_cache }}'
LOG_FILE_RENDERING = '{{ graphite_log_file_rendering }}'
DEBUG = {{ graphite_debug }}
FLUSHRRDCACHED = '{{ graphite_flushrrdcached }}'
MEMCACHE_HOSTS = {{ graphite_memcache_hosts | list }}
DEFAULT_CACHE_DURATION = {{ graphite_default_cache_duration }}
DEFAULT_CACHE_POLICY = {{ graphite_default_cache_policy | list }}
MEMCACHE_KEY_PREFIX = '{{ graphite_memcache_key_prefix }}'
MEMCACHE_OPTIONS = {{ graphite_memcache_options }}
DEFAULT_XFILES_FACTOR = {{ graphite_default_xfiles_factor }}
URL_PREFIX = '{{ graphite_url_prefix }}'
MAX_TAG_LENGTH = {{ graphite_max_tag_length }}
AUTO_REFRESH_INTERVAL = {{ graphite_auto_refresh_interval }}
FIND_TIMEOUT = {{ graphite_find_timeout }}
FETCH_TIMEOUT = {{ graphite_fetch_timeout }}
GRAPHITE_ROOT = '{{ graphite_graphite_root }}'
CONF_DIR = '{{ graphite_conf_dir }}'
STORAGE_DIR = '{{ graphite_storage_dir }}'
STATIC_ROOT = '{{ graphite_static_root }}'
LOG_DIR = '{{ graphite_log_dir }}'
INDEX_FILE = '{{ graphite_index_file }}'
DASHBOARD_CONF = '{{ graphite_dashboard_conf }}'
GRAPHTEMPLATES_CONF = '{{ graphite_graphtemplates_conf }}'
CERES_DIR = '{{ graphite_ceres_dir }}'
WHISPER_DIR = '{{ graphite_whisper_dir }}'
RRD_DIR = '{{ graphite_rrd_dir }}'
STANDARD_DIRS = {{ graphite_standard_dirs }}
STORAGE_FINDERS = {{ graphite_storage_finders }}
EMAIL_BACKEND = '{{ graphite_email_backend }}'
EMAIL_HOST = '{{ graphite_email_host }}'
EMAIL_PORT = {{ graphite_email_port }}
EMAIL_HOST_USER = '{{ graphite_email_host_user }}'
EMAIL_HOST_PASSWORD = '{{ graphite_email_host_password }}'
EMAIL_USE_TLS = {{ graphite_email_use_tls }}
USE_LDAP_AUTH = {{ graphite_use_ldap_auth }}
LDAP_SERVER = '{{ graphite_ldap_server }}'
LDAP_PORT = {{ graphite_ldap_port }}
LDAP_USE_TLS = {{ graphite_ldap_use_tls }}
LDAP_URI = '{{ graphite_ldap_uri }}'
LDAP_SEARCH_BASE = '{{ graphite_search_base }}'
LDAP_BASE_USER = '{{ graphite_ldap_base_user }}'
LDAP_BASE_PASS = '{{ graphite_ldap_base_pass }}'
LDAP_USER_QUERY = '{{ graphite_ldap_user_query }}'
LDAP_USER_DN_TEMPLATE = '{{ graphite_ldap_user_dn_template }}'
USE_REMOTE_USER_AUTHENTICATION = {{ graphite_use_remote_user_authentication }}
LOGIN_URL = '{{ graphite_login_url }}'
DASHBOARD_REQUIRE_AUTHENTICATION = {{ graphite_dashboard_require_authentication }}
DASHBOARD_REQUIRE_EDIT_GROUP = '{{ graphite_dashboard_require_edit_group }}'
DASHBOARD_REQUIRE_PERMISSIONS = '{{ graphite_dashboard_require_permissions }}'
DATABASES = {{ graphite_databases }}
CLUSTER_SERVERS = {{ graphite_cluster_servers }}
USE_WORKER_POOL = {{ graphite_use_worker_pool }}
POOL_MAX_WORKERS = {{ graphite_pool_max_workers }}
INTRACLUSTER_HTTPS = {{ graphite_intracluster_http }}
REMOTE_RETRY_DELAY = {{ graphite_remote_retry_delay }}
STORE_FAIL_ON_ERROR = {{ graphite_store_fail_on_error }}
REMOTE_EXCLUDE_LOCAL = {{ graphite_remote_exclude_local }}
MAX_FETCH_RETRIES = {{ graphite_max_fetch_retries }}
FIND_CACHE_DURATION = {{ graphite_find_cache_duration }}
FIND_TOLERANCE = {{ graphite_find_tolerance }}
REMOTE_STORE_USE_POST = {{ graphite_remote_store_use_post }}
REMOTE_BUFFER_SIZE = {{ graphite_remote_buffer_size }}
REMOTE_STORE_MERGE_RESULTS = {{ graphite_remote_store_merge_results }}
REMOTE_STORE_FORWARD_HEADERS = {{ graphite_remote_storage_forward_headers }}
REMOTE_RENDERING = {{ graphite_remote_rendering }}
RENDERING_HOSTS = {{ graphite_rendering_hosts }}
REMOTE_RENDER_CONNECT_TIMEOUT = {{ graphite_remote_render_connect_timeout }}
CARBONLINK_HOSTS = {{ graphite_carbonlink_hosts }}
CARBONLINK_TIMEOUT = {{ graphite_carbonlink_timeout }}
CARBONLINK_RETRY_DELAY = {{ graphite_carbonlink_retry_delay }}
CARBONLINK_HASHING_TYPE = '{{ graphite_carbonlink_hashing_type }}'
CARBONLINK_HASHING_KEYFUNC = {{ graphite_carbonlink_hashing_keyfunc }}
CARBON_METRIC_PREFIX = '{{ graphite_carbon_metric_prefix }}'
REPLICATION_FACTOR = {{ graphite_replication_factor }}
TAGDB = '{{ graphite_tagdb }}'
TAGDB_CACHE_DURATION = {{ graphite_tagdb_cache_duration }}
TAGDB_AUTOCOMPLETE_LIMIT = {{ graphite_tagdb_autocomplete_limit }}
TAGDB_REDIS_HOST = '{{ graphite_tagdb_redis_host }}'
TAGDB_REDIS_PORT = {{ graphite_tagdb_redis_port }}
TAGDB_REDIS_DB = {{ graphite_tagdb_redis_db }}
TAGDB_HTTP_URL = '{{ graphite_tagdb_http_url }}'
TAGDB_HTTP_USER = '{{ graphite_tagdb_http_user }}'
TAGDB_HTTP_PASSWORD = '{{ graphite_tagdb_http_password }}'
TAGDB_HTTP_AUTOCOMPLETE = {{ graphite_tagdb_http_autocomplete }}
FUNCTION_PLUGINS = {{ graphite_function_plugins }}
